<!DOCTYPE html>
<html lang="en" ng-app='lookupApp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Address Checker</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>

	<!-- JavaScript libraries/frameworks -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js" ></script>
    <script src="assets/js/lookup.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller='mainPageCtrl'>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>Bitcoin looker upper thing</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Info/Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Enter an address.</br>
						Get results.</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input ng-model="addressID" class="form-control" id="exampleInputEmail1" size="40" placeholder="e.g. 1LDxWVyq3JU1vfeNZzMYFzBGAvFaZqXBBc">
					  </div>
					  <button type="submit" ng-click='lookupAddress(addressID)' class="btn btn-warning btn-lg">Lookup</button>
					</form>
					<div class='overview'>
						<p>Address: {{output.Address}}</p>
						<p>Balance (BTC): {{output.BTC}}</p>	
					</div>				
				</div><!-- /col-lg-6 -->

				<div class="col-lg-6">
					<!-- <img class="img-responsive" src="assets/img/ipad-hand.png" alt=""> -->
					<div id='output' ng-show='loaded'>
						<h1>Ledger</h1>
						<table>
							<tr>
								<th>Transaction Hash</th>
								<th>Amount</th>
								<th>Received/Sent</th>
								<th>Address</th>
								<th>Total Balance</th>
							</tr>
							<tr ng-repeat='transaction in output.Transactions'>
								<td class="hash"><div class='limitText'><a href="https://blockchain.info/tx/{{transaction.Hash}}">{{transaction.Hash}}</a></div></td>
								<td>{{transaction.Amount}}</td>
								<td>Recieved!</td>
								<td><p class='limitText' ng-repeat='addr in transaction.InputAddress'>{{addr}}</p></td>
								<td>{{transaction['Total Balance']}}</td>
							</tr>
						</table>
					</div> <!-- #output -->
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>WELCOME</h1>
				<h3>Wanna look up some bitcoin addresses?  Well, lucky you.  You're in the right place.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="assets/img/ser01.png" width="180" alt="">
				<h4>WHAT THIS SITE DOES</h4>
				<p>You give this site a Bitcoin address, and it'll check the Blockchain to see what tranactions are associated with that address.  You can even see a running total.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/ser02.png" width="180" alt="">
				<h4>CAVEATS</h4>
				<p>While this site accurately shows you how many BTC are in a given address, it's not an accurate representation of how many BTC someone has.  After every bitcoin transaction there is additional "change" which the sender then sends back to themself at a separate address.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="assets/img/ser03.png" width="180" alt="">
				<h4>3 - Gather Your Notes</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
